.Streaming {
    color: white;
    padding: 15px;
    min-height: 100vh;
}
.Streaming a{
    color: white;
}
.Streaming a:hover{
    color: #cccccc;
}
.Streaming #sentry{
    width: 100%;
    min-height: 20px;
    list-style: none;
}