

.backdrop .content-img {
    min-height: 200px;
}

.backdrop {
    background-color: #000000;
}

.backdrop img {
    filter: brightness(90%);
    mask-image: linear-gradient(to top, transparent 5%, black 45%);
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 45%);
    object-fit: cover;
}

.info-data b {
    font-weight: 800;
    padding: 0px 6px;
}

.backdrop button {
    position: absolute;
    background: rgba(0, 0, 0, 0.685);
    padding: 14px 16px 14px 22px;
    border: none;
    border-radius: 200px;
    color: white;
}

.backdrop a {
    width: fit-content;
    color: white;
    text-decoration: none;
}

.backdrop a:hover {
    color: #c7c7c7;
}

@media (min-width: 992px) {
    .backdrop {
        height: 630px;
    }

    .backdrop p {
        position: relative !important;
        z-index: 1 !important;
        color: white !important;
        width: 130% !important;
    }

    .backdrop img {
        filter: brightness(90%)!important;
        mask-image: linear-gradient(to right, transparent 5%, black 45%) !important;
        -webkit-mask-image: linear-gradient(to right, transparent 5%, black 45%)!important;
        object-fit: cover;
        width: 100% !important;
        height: 630px !important;
    }
}
