.Search{
    color: white;
    padding: 15px;
}
.Search span{
    cursor: pointer;
}
.Search span:hover{
    transition: all 0.5s;
    color: white !important;
    text-decoration: underline;
}
.Search span.active {
    text-decoration: underline;
}
.Search #sentry{
    width: 100%;
    min-height: 20px;
    list-style: none;
}