.Search{
    color: white;
    padding: 15px;
    min-height: 100vh;
}
.Search .dropType button{
    font-weight: bolder !important;
    background: rgba(255, 255, 255, 0.103) !important;
    border: solid 2px white !important;
}
.Search .dropType div{
    background-color: rgba(0, 0, 0, 0.88) !important;
}
.Search .dropType a{
    color: white;
    font-weight: bolder !important;
}
.Search .dropType a:hover{
    background-color: rgb(53, 53, 53,0.88);
}
.Search #sentry{
    width: 100%;
    min-height: 20px;
    list-style: none;
}