.Details {
    color: white;
    padding: 15px;

}

.Details h5 {
    font-size: 1rem;
    color: #646464;
    text-transform: uppercase;
}

.Details a {
    color: white;
    text-decoration: none;
}

.Details a:hover {
    color: #c7c7c7;
}

.backdrop {
    max-height: 500px;
}

.loadImg {
    background-color: #1a1a1a;
    width: 100vw;
    max-height: 500px;
}

.backdrop img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.ErrorImg {
    width: 100%;
    max-height: 500px;
}

.backdrop button {
    position: absolute;
    background: rgba(0, 0, 0, 0.685);
    padding: 14px 16px 14px 22px;
    border: none;
    border-radius: 200px;
    color: white;
}

.movie-info>div {
    padding: 0 32px;
}

.modal-header,
.modal-body {
    color: white;
    border: black !important;
    background-color: #000000;
}